.color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    vertical-align: middle;
}

.ul_no_mark {
    list-style-type: none;
}