{% extends 'base.html' %}

{% load static %}

{% block title %} О товаре {% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/color.css'%}">
{% endblock %}
{% block content %}
    <h1> Информация о товаре </h1>
    <h1>Имя: {{ item.name }}</h1><br>  
    <p><strong>Бренд:</strong> {{ item.brand }}</p>
<p><strong>Количество на складе:</strong>
    {% if item.count > 0 %}
        {{ item.count }}
    {% else %}
        <span style="color: red;">товара нет на складе</span>
    {% endif %}
</p>

<h3>Описание</h3>
<p>{{ item.description|default:"Описание товара отсутствует" }}</p>
<h3>Цвета</h3>
<ul class='ul_no_mark'>
{% for color in colors %}
<li>
<span class="color-box" style='background-color: {{color.name}};'></span> {{ color.name }}
</li>
{% empty %}
<p>Информация по цветам отсутствует</p>
{% endfor %}
{% include "footer.html" %}
{% endblock %}