{% extends 'base.html' %}
{% block title %} О товаре {% endblock %}

{% block content %}
    <h1> Информация о товаре </h1>
    <h1>Имя: {{ item.name }}</h1><br>  
    <p><strong>Бренд:</strong> {{ item.brand }}</p>
<p><strong>Количество на складе:</strong>
    {% if item.count > 0 %}
        {{ item.count }}
    {% else %}
        <span style="color: red;">товара нет на складе</span>
    {% endif %}
</p>

<h3>Описание</h3>
<p>{{ item.description|default:"Описание товара отсутствует" }}</p>
<h3>Цвета</h3>
{% for color in colors %}
<li>
    <span style="display:inline-block; width:16px; height:16px; background-color: {{ color.hhex_code }}; margin-right:8px; vertical-align: middle;"></span>
    {{ color.name }}
</li>
{% empty %}
<p>Информация по цветам отсутствует</p>
{% endfor %}
{% include "footer.html" %}
{% endblock %}